body{
	background-color:black;
}
h1{
	color:gold;
	text-shadow:2px 2px 1px red;
}
.loder{
	position:absolute;
    top:300px;
    left:480px;
	transform:rotateX(75deg); 
}
.last{
	position:absolute;
	float:left;
	border:1px solid white;
	border-radius:100%;
	background:transparent;
	top:-73px;
	left:-73px;
	animation:asp 1.73s infinite ease-in-out alternate; 
}
.last:nth-child(1){
	margin:0 288px;
	width: 10px;
	height: 10px;
	animation-delay:115ms;
	z-index:-1;
	border:1px solid rgba(255, 43, 0, 0.7);
}
.last:nth-child(2){
	margin:0 283px;
	width: 19px;
	height: 19px;
	animation-delay:230ms;
	z-index:-2;
	border:1px solid rgba(255, 85, 0, 0.7);
}
.last:nth-child(3){
	margin:0 278px;
	width: 29px;
	height: 29px;
	animation-delay:345ms;
	z-index:-3;
	border:1px solid rgba(255, 128, 0, 0.7);
}
.last:nth-child(4){
	margin:0 273px;
	width: 39px;
	height: 39px;
	animation-delay:460ms;
	z-index:-4;
	border:1px solid rgba(255, 170, 0, 0.7);
}
.last:nth-child(5){
	margin:0 268px;
	width: 49px;
	height: 49px;
	animation-delay:575ms;
	z-index:-5;
	border:1px solid rgba(255, 213, 0, 0.7);
}
.last:nth-child(6){
	margin:0 263px;
	width: 58px;
	height: 58px;
	animation-delay:690ms;
	z-index:-6;
	border:1px solid rgba(255,  255, 0, 0.7);
}
.last:nth-child(7){
	margin:0 258px;
	width: 68px;
	height: 68px;
	animation-delay:805ms;
	z-index:-7;
	border:1px solid rgba(212,  255, 0, 0.7);
}
.last:nth-child(8){
	margin:0 253px;
	width: 78px;
	height: 78px;
	animation-delay:920ms;
	z-index:-8;
	border:1px solid rgba(170, 255, 0, 0.7);
}
.last:nth-child(9){
	margin:0 249px;
	width: 88px;
	height: 88px;
	animation-delay:1035ms;
	z-index:-9;
	border:1px solid rgba(128,  255, 0, 0.7);
}
.last:nth-child(10){
	margin:0 244px;
	width: 97px;
	height: 97px;
	animation-delay:1150ms;
	z-index:-10;
	border:1px solid rgba(85,  255, 0, 0.7);
}
.last:nth-child(11){
	margin:0 239px;
	width: 107px;
	height: 107px;
	animation-delay:1265ms;
	z-index:-11;
	border:1px solid rgba(43,  255, 0, 0.7);
}
.last:nth-child(12){
	margin:0 234px;
	width: 117px;
	height: 117px;
	animation-delay:1380ms;
	z-index:-12;
	border:1px solid rgba(0,  255, 0, 0.7);
}
.last:nth-child(13){
	margin:0 229px;
	width: 127px;
	height: 127px;
	animation-delay:1495ms;
	z-index:-13;
	border:1px solid rgba(0,  255, 43, 0.7);
}
.last:nth-child(14){
	margin:0 224px;
	width: 136px;
	height: 136px;
	animation-delay:1610ms;
	z-index:-14;
	border:1px solid rgba(0,  255, 85, 0.7);
}
.last:nth-child(15){
	margin:0 219px;
	width: 146px;
	height: 146px;
	animation-delay:1725ms;
	z-index:-15;
	border:1px solid rgba(0,  255, 128, 0.7);
}
.last:nth-child(16){
	margin:0 214px;
	width: 156px;
	height: 156px;
	animation-delay:1840ms;
	z-index:-16;
	border:1px solid rgba(0,  255, 170, 0.7);
}
.last:nth-child(17){
	margin:0 210px;
	width: 166px;
	height: 166px;
	animation-delay:1955ms;
	z-index:-17;
	border:1px solid rgba(0,  255, 213, 0.7);
}
.last:nth-child(18){
	margin:0 205px;
	width: 175px;
	height: 175px;
	animation-delay:2070ms;
	z-index:-18;
	border:1px solid rgba(0,  255, 255, 0.7);
}
.last:nth-child(19){
	margin:0 200px;
	width: 185px;
	height: 185px;
	animation-delay:2185ms;
	z-index:-19;
	border:1px solid rgba(0,  212, 255, 0.7);
}
.last:nth-child(20){
	margin:0 195px;
	width: 195px;
	height: 195px;
	animation-delay:2300ms;
	z-index:-20;
	border:1px solid rgba(0,  170, 255, 0.7);
}
.last:nth-child(21){
	margin:0 190px;
	width: 205px;
	height: 205px;
	animation-delay:2415ms;
	z-index:-21;
	border:1px solid rgba(0,  127, 255, 0.7);
}
.last:nth-child(22){
	margin:0 185px;
	width: 214px;
	height: 214px;
	animation-delay:2530ms;
	z-index:-22;
	border:1px solid rgba(0,  85, 255, 0.7);
}
.last:nth-child(23){
	margin:0 180px;
	width: 224px;
	height: 224px;
	animation-delay:2645ms;
	z-index:-23;
	border:1px solid rgba(0,  43, 255, 0.7);
}
.last:nth-child(24){
	margin:0 175px;
	width: 234px;
	height: 234px;
	animation-delay:2760ms;
	z-index:-24;
	border:1px solid rgba(0,  0, 255, 0.7);
}
.last:nth-child(25){
	margin:0 171px;
	width: 244px;
	height: 244px;
	animation-delay:2875ms;
	z-index:-25;
	border:1px solid rgba(42,  0, 255, 0.7);
}
.last:nth-child(26){
	margin:0 166px;
	width: 253px;
	height: 253px;
	animation-delay:2990ms;
	z-index:-26;
	border:1px solid rgba(85,  0, 255, 0.7);
}
.last:nth-child(27){
	margin:0 161px;
	width: 263px;
	height: 263px;
	animation-delay:3105ms;
	z-index:-27;
	border:1px solid rgba(127,  0, 255, 0.7);
}
.last:nth-child(28){
	margin:0 156px;
	width: 273px;
	height: 273px;
	animation-delay:3220ms;
	z-index:-28;
	border:1px solid rgba(170,  0, 255, 0.7);
}
.last:nth-child(29){
	margin:0 151px;
	width: 283px;
	height: 283px;
	animation-delay:3335ms;
	z-index:-29;
	border:1px solid rgba(212,  0, 255, 0.7);
}
.last:nth-child(30){
	margin:0 146px;
	width: 292px;
	height: 292px;
	animation-delay:3450ms;
	z-index:-30;
	border:1px solid rgba(255,  0, 255, 0.7);
}
@keyframes asp{
	0%{transform:translateY(0px);}
	100%{transform:translateY(97px);}
}